<% include ../../partials/header %>

<h1>ADD ITEM</h1>
<% if(currentUser && character.player.equals(currentUser._id) || currentUser && currentUser.isAdmin || currentUser && currentUser.isSU) { %>
    <form action="/<%= currentUser._id %>/character/<%= character._id %>/item" method="POST">
        <div class="form-row">
            <div class="form-group col">
                <h5>Name</h5>
                <input type="text" name="item[name]" placeholder="Item Name" required>
                <h5>Weight</h5>
                <input type="number" name="item[weight]" placeholder="Item Weight" min=".01" step=".01" required>
                <h5>Value</h5>
                <input type="number" name="item[value]" placeholder="Item Value" required>
            </div>
            <div class="col">
                <h5>Item Rarity:</h5>
                <div class="form-group">
                    <select name="item[rarity]" required>
                        <option selected="selected">Common</option>
                        <option>Uncommon</option>
                        <option>Rare</option>
                        <option>Very Rare</option>
                        <option>Legendary</option>
                    </select>
                </div>
                <h5>Is this item magical?</h5>
                <div class="form-group">
                    <label for="magical-yes">Yes</label>
                    <input id="magical-yes" type="radio" name="item[isMagical]" value="true">
                    <label for="magical-no">No</label>
                    <input id="magical-no" type="radio" name="item[isMagical]" value="false" checked>
                </div>
                <h5>Does this item require attunement?</h5>
                <div class="form-group">
                    <label for="attune-yes">Yes</label>
                    <input id="attuen-yes" type="radio" name="item[requiresAttunement]" value="true">
                    <label for="attune-no">No</label>
                    <input id="attune-no" type="radio" name="item[requiresAttunement]"value="false" checked>
                </div>
            </div>
        </div>
        <button class="btn btn-success">Submit New Item</button>
    </form>
<% } %>
<a class="btn btn-secondary" href="/<%= currentUser._id %>/character/<%= character._id %>">Back</a>

<% include ../../partials/footer %>